$button-normal:                  $mediumgray-dark !default;
$button-default:                 $white !default;
$button-primary:                 $aqua-dark !default;
$button-success:                 $grass-dark !default;
$button-danger:                  $grapefruit-dark !default;
$button-warning:                 $sunflower-dark !default;
$button-info:                    $mint-dark !default;
$button-disabled:                $darkgray !default;
$button-disabled-background:     $gray !default;

$button-normal-hover:            $mediumgray-light !default;
$button-default-hover:           $button-normal !default;
$button-primary-hover:           $aqua-light !default;
$button-success-hover:           $grass-light !default;
$button-danger-hover:            $grapefruit-light !default;
$button-warning-hover:           $sunflower-light !default;
$button-info-hover:              $mint-light !default;

$button-font-color-dark:         $darkgray-dark !default;
$button-font-color-light:        $white !default;

$button-opacity:                 45 !default;

// General
.ui-btn {
  color: $button-font-color-light;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;

  .btn-text {
    vertical-align: top;
  }

  //Icons
  .btn-icon {
    + .btn-text {
      padding-left: 5px;
    }
  }

  //Types
  &.-normal {
    background-color: $button-normal;

    &:hover,
    &:focus {
      background-color: $button-normal-hover;
    }
  }

  &.-default {
    background-color: $button-default;
    color: $button-font-color-dark;
    border: 1px solid $button-normal;

    &:hover,
    &:focus {
      background-color: $button-default-hover;
      color: white;
    }
  }

  &.-primary {
    background-color: $button-primary;

    &:hover,
    &:focus {
      background-color: $button-primary-hover;
    }
  }

  &.-success {
    background-color: $button-success;

    &:hover,
    &:focus {
      background-color: $button-success-hover;
    }
  }

  &.-danger {
    background-color: $button-danger;

    &:hover,
    &:focus {
      background-color: $button-danger-hover;
    }
  }

  &.-warning {
    background-color: $button-warning;

    &:hover,
    &:focus {
      background-color: $button-warning-hover;
    }
  }

  &.-info {
    background-color: $button-info;

    &:hover,
    &:focus {
      background-color: $button-info-hover;
    }
  }

  &.-disabled {
    background-color: $button-disabled-background;
    color: $button-disabled;
    pointer-events: none;
  }

  &.-circle {
    border-radius: 50%;
    padding: 0 !important;

    .btn-icon {
      padding: 0;
    }
  }

  // Sizes
  &.-lg {
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 48px;

    .btn-icon {
      font-size: 20px;
    }

    &.-circle {
      width: 48px;
    }
  }

  &.-md {
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;

    .btn-icon {
      font-size: 16px;
    }

    &.-circle {
      width: 36px;
    }
  }

  &.-sm {
    height: 24px;
    padding: 0 10px;
    font-size: 11px;
    line-height: 24px;

    &.-circle {
      width: 24px;
    }

    .btn-icon {
      font-size: 12px;
    }
  }
}