.ui-dropdown {
  position: relative;
  white-space: normal;
  cursor: pointer;

  .ui-dropdown-list {
    background-color: #434a54;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    border: none;
    margin: 2px 0 0;
    top: 30px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s ease-out,transform .15s ease-out,visibility .15s ease-out;

    .ui-dropdown-item {
      padding: 8px 20px;

      .ui-dropdown-link {
        text-decoration: none;
        color: white;

        &:hover {
          color: $lightgray-dark;
        }
      }
    }

    .ui-dropdown-divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: $darkgray-light;
    }
  }

  &:hover,
  &.-show-dropdown {
    .ui-dropdown-list {
      visibility: visible;
      opacity: 1;
    }
  }
}
