// INPUT
.ui-input {
  position: relative;
  width: 180px;

  .ui-input-box {
    height: 40px;
    padding-left: 6px;
    padding-right: 6px;
    background: transparent;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    font: inherit;
    overflow: visible;
    width: 100%;
    -webkit-appearance: none;
    vertical-align: middle;
    color: #666;
    outline: none;

    &.-whit-icon {
      padding-left: 45px;
    }
  }

  .ui-input-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-right: 10px;
    display: inline-flex;
    justify-content: right;
    align-items: center;
    color: #999;
    text-decoration: none;
    font-size: 20px;
    padding-left: 10px;
  }
}

// CHECKBOX
.ui-checkbox-box {
  border-radius: 25%;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: -2px;
  margin-left: 5px;
}

// RADIO
.ui-radio-box {
  display: inline-block;
  height: 16px;
  width: 16px;
  overflow: hidden;
  margin-top: -2px;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ccc;
  transition: .2s ease-in-out;
  transition-property: background-color,border;
  border-radius: 50%;
}

.ui-radio-box:checked {
  outline: none;
  border: 5px solid #1e87f0;
}

.ui-input-box:focus {
  outline: none;
  background-color: #fff;
  color: #666;
  border-color: #1e87f0;
}