@font-face {
  font-family: 'icomoon';
  src: url('../../resources/fonts/icomoon.eot?r3dvv0');
  src: url('../../resources/fonts/icomoon.eot?r3dvv0#iefix') format('embedded-opentype'), url('../../resources/fonts/icomoon.ttf?r3dvv0') format('truetype'), url('../../resources/fonts/icomoon.woff?r3dvv0') format('woff'), url('../../resources/fonts/icomoon.svg?r3dvv0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="ui-icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="ui-icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui-icon-home {
  &:before {
    content: "\e900";
  }
}
.ui-icon-connection {
  &:before {
    content: "\e901";
  }
}
.ui-icon-qrcode {
  &:before {
    content: "\e902";
  }
}
.ui-icon-credit-card {
  &:before {
    content: "\e903";
  }
}
.ui-icon-location {
  &:before {
    content: "\e904";
  }
}
.ui-icon-desktop {
  &:before {
    content: "\e905";
  }
}
.ui-icon-mobile {
  &:before {
    content: "\e906";
  }
}
.ui-icon-tablet {
  &:before {
    content: "\e907";
  }
}
.ui-icon-undo {
  &:before {
    content: "\e908";
  }
}
.ui-icon-redo {
  &:before {
    content: "\e909";
  }
}
.ui-icon-user {
  &:before {
    content: "\e90a";
  }
}
.ui-icon-add-user {
  &:before {
    content: "\e90b";
  }
}
.ui-icon-remove-user {
  &:before {
    content: "\e90c";
  }
}
.ui-icon-search {
  &:before {
    content: "\e90d";
  }
}
.ui-icon-settings {
  &:before {
    content: "\e90e";
  }
}
.ui-icon-bin {
  &:before {
    content: "\e90f";
  }
}
.ui-icon-menu {
  &:before {
    content: "\e910";
  }
}
.ui-icon-download {
  &:before {
    content: "\e911";
  }
}
.ui-icon-upload {
  &:before {
    content: "\e912";
  }
}
.ui-icon-plus {
  &:before {
    content: "\e913";
  }
}
.ui-icon-blocked {
  &:before {
    content: "\e914";
  }
}
.ui-icon-cross {
  &:before {
    content: "\e915";
  }
}
.ui-icon-check {
  &:before {
    content: "\e916";
  }
}
.ui-icon-enter {
  &:before {
    content: "\e917";
  }
}
.ui-icon-exit {
  &:before {
    content: "\e918";
  }
}
.ui-icon-arrow-up {
  &:before {
    content: "\e919";
  }
}
.ui-icon-arrow-right {
  &:before {
    content: "\e91a";
  }
}
.ui-icon-arrow-down {
  &:before {
    content: "\e91b";
  }
}
.ui-icon-arrow-left {
  &:before {
    content: "\e91c";
  }
}
.ui-icon-images {
  &:before {
    content: "\e91d";
  }
}
.ui-icon-folder {
  &:before {
    content: "\e92f";
  }
}
.ui-icon-folder-open {
  &:before {
    content: "\e930";
  }
}
.ui-icon-folder-plus {
  &:before {
    content: "\e931";
  }
}
.ui-icon-folder-download {
  &:before {
    content: "\e933";
  }
}
.ui-icon-folder-upload {
  &:before {
    content: "\e934";
  }
}
.ui-icon-barcode {
  &:before {
    content: "\e937";
  }
}
.ui-icon-users {
  &:before {
    content: "\e972";
  }
}
.ui-icon-minus {
  &:before {
    content: "\ea0b";
  }
}
.ui-icon-amazon {
  &:before {
    content: "\ea87";
  }
}
.ui-icon-hangouts {
  &:before {
    content: "\ea8e";
  }
}
.ui-icon-google-drive {
  &:before {
    content: "\ea8f";
  }
}
.ui-icon-facebook2 {
  &:before {
    content: "\ea91";
  }
}
.ui-icon-instagram {
  &:before {
    content: "\ea92";
  }
}
.ui-icon-whatsapp {
  &:before {
    content: "\ea93";
  }
}
.ui-icon-spotify {
  &:before {
    content: "\ea94";
  }
}
.ui-icon-telegram {
  &:before {
    content: "\ea95";
  }
}
.ui-icon-twitter {
  &:before {
    content: "\ea96";
  }
}
.ui-icon-youtube {
  &:before {
    content: "\ea9d";
  }
}
.ui-icon-youtube2 {
  &:before {
    content: "\ea9e";
  }
}
.ui-icon-steam2 {
  &:before {
    content: "\eaad";
  }
}
.ui-icon-trello {
  &:before {
    content: "\eab3";
  }
}
.ui-icon-tumblr2 {
  &:before {
    content: "\eaba";
  }
}
.ui-icon-windows8 {
  &:before {
    content: "\eac2";
  }
}
.ui-icon-skype {
  &:before {
    content: "\eac5";
  }
}
.ui-icon-linkedin {
  &:before {
    content: "\eac9";
  }
}
.ui-icon-linkedin2 {
  &:before {
    content: "\eaca";
  }
}