.ui-pagination {

  li {
    display: inline-block;
    padding: 5px 15px;

    a {
      text-decoration: none;
      color: $darkgray-light;
      cursor: pointer;

      &:hover {
        color: $darkgray-dark;
      }
    }
  }

  .ui-active {
    span {
      color: $darkgray-dark;
      border-bottom: 2px solid $darkgray-dark;
    }
  }

  .ui-disabled {
    color: $darkgray;

    a {
      cursor: default;
      color: $darkgray;

      &:hover {
        color: $darkgray;
      }
    }
  }
}