// Alignment
.-ui-tc {
  text-align: center !important;
}

.-ui-tl {
  text-align: left !important;
}

.-ui-tr {
  text-align: right !important;
}

// Transforms
.-ui-uppercase {
  text-transform: uppercase !important;
}

.-ui-capitalize {
  text-transform: capitalize !important;
}

// Styles
.-ui-italic {
  font-style: italic !important;
}

.-ui-bold {
  font-weight: bold !important;
}

.-ui-underline {
  text-decoration: underline !important;
}

// icons
.-ui-icon-xsm {
  font-size: 16px !important;
}

.-ui-icon-sm {
  font-size: 20px !important;
}

.-ui-icon-md {
  font-size: 24px !important;
}

.-ui-icon-lg {
  font-size: 32px !important;
}

.-ui-icon-xlg {
  font-size: 48px !important;
}

.-ui-icon-xxlg {
  font-size: 64px !important;
}